{
  "apiVersion": 1,
  "datasources": [
    {
      "access": "proxy",
      "editable": false,
      "name": "prometheus",
      "orgId": 1,
      "type": "prometheus",
      "url": "http://{{monitoring.prometheus.svcName}}.{{ansible_operator_meta.namespace}}.svc:{{monitoring.prometheus.port}}",
      "version": 1
    }
  ]
}