[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-runner = "*"
ansible-runner-http = "*"
openshift = "*"
molecule = "*"
docker = "*"
dotmap = "*"
pandas = "*"
inflection = "*"
html-testrunner = "*"
ansible = "*"
kubernetes = "*"
coloredlogs = "*"

[scripts]
op = "ansible-operator run"
test  = "python tests/run_tests.py"
#  pipenv run ansible-playbook playbooks/cnvrg.yml --extra-vars='{"debug":"true","dry_run":"true","ansible_operator_meta":{"namespace":"cnvrg"}}'
#
