apiVersion: mlops.cnvrg.io/v1
kind: CnvrgApp
metadata:
  name: cnvrg-app
  namespace: cnvrg
spec:
  {{- include "spec.globals" . | indent 2 }}
  {{- include "spec.tenancy" . | indent 2 }}
  {{- include "spec.https" . | indent 2 }}
  {{- include "spec.conf" . | indent 2 }}
  {{- include "spec.cnvrgApp" . | indent 2 }}
  {{- include "spec.redis" . | indent 2 }}
  {{- include "spec.pg" . | indent 2 }}
  {{- include "spec.es" . | indent 2 }}
  {{- include "spec.minio" . | indent 2 }}
  {{- include "spec.monitoring" . | indent 2 }}
  {{- include "spec.istio" . | indent 2 }}
  {{- include "spec.kibana" . | indent 2 }}
  {{- include "spec.fluentd" . | indent 2 }}
  {{- include "spec.nvidiadp" . | indent 2 }}
  {{- include "spec.mpi" . | indent 2 }}
  {{- include "spec.nfs" . | indent 2 }}
  {{- include "spec.hostpath" . | indent 2 }}
  {{- include "spec.cnvrgRouter" . | indent 2 }}
  {{- include "spec.autoscaler" . | indent 2 }}
  {{- include "spec.ingress" . | indent 2 }}
  {{- include "spec.vpa" . | indent 2 }}
  {{- include "spec.domainRegister" . | indent 2 }}

