<!DOCTYPE HTML>
<html>
<head>
  <script>
      window.onload = function () {

          var chart = new CanvasJS.Chart("chartContainer", {
              theme: "dark2",
              animationEnabled: true,
              exportEnabled: false,
              title: {
                  text: "Tests execution time graph",
                  fontSize: 20,
              },
              axisX: {
                  title: "Tests",
                  labelFontSize: 10,
                  titleFontSize: 10,
              },
              axisY: {
                  title: "Time in seconds",
                  labelFontSize: 10,
                  titleFontSize: 10,
              },
              data: ${EXEC_TIME_REPORT}
          });
          chart.render();
      }
  </script>
</head>
<body>
<div id="chartContainer" style="height: 800px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>