<!DOCTYPE HTML>
<html>
<head>
  <script>
      window.onload = function () {

          var chart = new CanvasJS.Chart("chartContainer", {
              theme: "dark2",
              animationEnabled: true,
              exportEnabled: true,
              title: {
                  text: "Tests execution time graph"
              },
              axisX: {
                  margin: 10,
                  labelPlacement: "inside",
                  tickPlacement: "inside"
              },
              axisY2: {
                  title: "Views (in billion)",
                  titleFontSize: 14,
                  includeZero: true,
              },
              data: [{
                  type: "bar",
                  axisYType: "secondary",

                  indexLabel: "{y}",
                  dataPoints: ${EXEC_TIME_REPORT}
              }]
          });
          chart.render();
      }
  </script>
</head>
<body>
<div id="chartContainer" style="height: 800px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>