{
  "auths": {
    "{{mpi.registry.url}}": {
      "username": "{{mpi.registry.user}}",
      "password": "{{mpi.registry.password}}",
      "auth": "{{(mpi.registry.user +':'+ mpi.registry.password) | b64encode}}"
    }
  }
}