apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app: prometheus
    prometheus: cnvrg
  name: cnvrg
  namespace: "{{ansible_operator_meta.namespace}}"
spec:
#  alerting:
#    alertmanagers:
#    - name: alertmanager-main
#      namespace: "{{ansible_operator_meta.namespace}}"
#      port: web
  storage:
    disableMountSubPath: true
    volumeClaimTemplate:
      spec:
{% if hostpath.enabled == "true" %}
        storageClassName: {{ hostpath.storage_class_name }}
{% elif nfs.enabled == "true" %}
        storageClassName: "{{ nfs.storage_class_name }}"
{% elif pg.storage_class != "use-default" %}
        storageClassName: "{{ prometheus.storage_class }}"
{% endif %}
        resources:
          requests:
            storage: "{{ prometheus.storage_size }}"
  image: "{{ prometheus.image }}"
{%  if tenancy.enabled == "true" and tenancy.dedicated_nodes == "true" %}
  tolerations:
  - key: "{{ tenancy.cnvrg.key }}"
    operator: "Equal"
    value: "{{ tenancy.cnvrg.value }}"
    effect: "NoSchedule"
{% endif %}
{% if hostpath.enabled == "true" and tenancy.enabled == "false" %}
  nodeSelector:
    kubernetes.io/hostname: "{{ hostpath.node_name }}"
{% endif %}
{% if hostpath.enabled == "true" and tenancy.enabled == "true" %}
  nodeSelector:
    kubernetes.io/hostname: "{{ hostpath.node_name }}"
    {{ tenancy.cnvrg.key }}: "{{ tenancy.cnvrg.value }}"
{% endif %}
  podMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  replicas: 1
  resources:
    requests:
      memory: 400Mi
  ruleSelector:
    matchLabels:
      prometheus: k8s
      role: alert-rules
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus-k8s
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  version: v2.17.2
