apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/version: v0.18.1
  name: node-exporter
  namespace: "{{ansible_operator_meta.namespace}}"
spec:
  clusterIP: None
  ports:
  - name: https
    port: {{ monitoring.nodeExporter.port }}
    targetPort: https
  selector:
    app.kubernetes.io/name: node-exporter
