apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd
  namespace: "{{ansible_operator_meta.namespace}}"
  labels:
    k8s-app: fluentd-logging
    version: v1
spec:
  selector:
    matchLabels:
      k8s-app: fluentd-logging
      version: v1
  template:
    metadata:
      labels:
        k8s-app: fluentd-logging
        version: v1
    spec:
{%  if tenancy.enabled == "true" and tenancy.dedicated_nodes == "true" %}
      tolerations:
      - key: "{{ tenancy.cnvrg.key }}"
        operator: "Equal"
        value: "{{ tenancy.cnvrg.value }}"
        effect: "NoSchedule"
{% endif %}
      serviceAccountName: fluentd
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      containers:
        - name: fluentd
          image: "{{ fluentd.image }}"
          securityContext:
            privileged: true
          env:
            - name:  FLUENT_ELASTICSEARCH_HOST
              value: "{{ (fluentd.es_svc_name + '.' + ansible_operator_meta.namespace + '.svc.cluster.local') }}"
            - name:  FLUENT_ELASTICSEARCH_PORT
              value: "9200"
            - name: FLUENT_ELASTICSEARCH_SCHEME
              value: "http"
            - name: FLUENT_UID
              value: "0"
            - name:  FLUENT_ELASTICSEARCH_LOGSTASH_PREFIX
              value: "cnvrg"
            - name: FLUENT_ELASTICSEARCH_LOGSTASH_INDEX_NAME
              value: "cnvrg"
          resources:
            limits:
              memory: "{{ fluentd.memory_limit }}"
            requests:
              cpu: "{{ fluentd.cpu_request }}"
              memory: "{{ fluentd.memory_request }}"
          volumeMounts:
            - name: config-volume
              mountPath: /fluentd/etc/fluent.conf
              subPath: fluent.conf
            - name: journal
              mountPath: /var/log/journal
              readOnly: true
            - name: varlog
              mountPath: /var/log
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
      terminationGracePeriodSeconds: 30
      volumes:
        - name: config-volume
          configMap:
            name: fluentd-conf
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: "{{ fluentd.containers_path }}"
        - name: journal
          hostPath:
            path: "{{ fluentd.journal_path }}"
