---
minio:
  enabled: "true"
  replicas: 1
  image: "docker.io/minio/minio:RELEASE.2020-09-17T04-49-20Z"
  port: 9000
  storage_size: "100Gi"
  svc_name: "minio"
  node_port: 30090
  storage_class: "use-default"
  cpu_request: 2
  memory_request: 4Gi
  shared_storage:
    enabled: "false"
    storage_class_name: "minio-shared-backend"
    nfs_server: ""
    path: ""
